<p style="color: green"><%= notice %></p>

<% content_for :title, "Editing Loan" %>

<div id="posts" class="container">
  <h1 class="mb-4">Edit Loan</h1>

  <%= render "posts/partials/form", post: @post %>

  <br>

  <div>
    <%= link_to "Show this loan", @post, class: "btn btn-success" %>
    <%= link_to "Back to loans", posts_path, class: "btn btn-secondary" %>
  </div>
</div>
