<p style="color: green"><%= notice %></p>

<% content_for :title, "Loans" %>

<div id="posts" class="container">
  <h1 class="mb-4">All Loans</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Borrower Name</th>
        <th>Loan Type</th> <!-- 🔹 New column -->
        <th>Amount</th>
        <th>Interest Rate (%)</th>
        <th>Term (Months)</th>
        <th>Posted Date</th>
        <th>Purpose</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "posts/partials/loan_list" %>
    </tbody>
  </table>
  <%= link_to 'New Loan', loanselect_post_path, class: "btn btn-primary" %>
</div>
