<!-- app/views/posts/new.html.erb -->

<div class="container mt-5 card shadow-sm p-4">
  <h1 class="text-center">New Loan Application</h1>

  <div id="post_form " >
    <%= render "posts/partials/form", post: @post %>
  </div>
</div>
